<?xml version="1.0"?>
<model>
  <name>my_environment_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    A static environment model imported from .obj
  </description>
</model>
